<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Test-Suite" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="Listeners.TestListener"/>
    </listeners>

    <test name="Chrome" parallel="classes" thread-count="1">
        <classes>
            <class name="PageScript.LoginPage"/>

        </classes>
    </test>
</suite>